div#memory_board{
  background: #ccc;
  border: #999 1px solid;
  width: 730px;
  height: 490px;
  padding: 24px;
  margin: 0px auto;
}
div#memory_board > div {
  background: url(tile_bg.jpg) no-repeat;
  border: #000 1px solid;
  width: 71px;
  height: 71px;
  float: left;
  padding: 24px;
  margin: 0px auto;
  font-size: 64px;
  cursor: pointer;
  text-align: center;

}

p {
  color: red;
  font-size: 30px;
  text-align: center;
  margin: 0px;
}
